:root {
    --base-variant: #121212;
    --color-hover: #745747;
    /* --color-3: #FFF3E6; */
    --base-color: #F2EDE4;
    /* --color-5: #BBB9AF; */
    /* --color-6: #E6E0D4; */
    --font-color: #000000;
    --color-back: #fff;
    --font-family-primary: 'tinos';
    --font-family-secondary: 'poppins' ;
    font-family: var(--font-family-primary);
}

main {
    background-color: var(--base-color);
}

/* style a */

.navbar__responsive a, .container__navbar-desktop a, .container__icon a, .nav__footer-a {
    text-decoration: none;
    color: var(--font-color);
    font-weight: 500;
}

/* header-nav */

header {
    background-color: var(--base-color);
}

.nav {
    background-color: var(--base-color);
    justify-content: space-between;
    position: relative;
    padding: 15px;
}

/* header-logo */

.logo {
    width: 150px;
    padding-top: 10px;
}

/* nav-navbar */

/* navbar - DESKTOP */

.container__navbar-desktop {
    display: none;
    justify-content: space-evenly;
    align-items: center;
}

/* nav-bar icon */

.container__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.5em;
}

/* navbar - RESPONSIVE */

.container__btnResponsive {
    display: grid;
    place-content: center;
    position: relative;
    top: 2.5px;
}

.btn__headerResponsive {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 1.3em;
}


/* navbar responsive - navbar desktop HOVER */

.container__navbar a:hover, .navbar__responsive a:hover, .btn__headerResponsive:hover, .a__navbar:hover, .nav__footer-a:hover {
    color: var(--color-hover);
    scale: 1.1;
    transition: .5s;
}

/* SECTION HERO-SLIDER */

.container-heroSlider {
    width: 100%;
    height: 400px;
    position: relative;
}

.container__slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider {
    width: 400%;
    height: 400px;
    display: flex;
    margin-left: -100%;
}

.slider__section {
width: 100%;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container__hero {
    /* aca cambie */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
}

.hero {
    font-size: 1em;
    color: var(--color-back);
}

.btn__hero {
    font-family: var(--font-family-secondary);
    font-weight: 500;
    background-color: var(--base-variant);
    width: 100%;
    border-radius: 20px;
}

/* SECTION SOBRE MI */

.about__me {
    text-align: center;
    padding: 50px 0px;
}

.about__me h3 {
    font-size: 1.2em;
    color: var(--font-color);
}

.about__me a {
    color: blue;
    text-decoration: none;
    font-family: inherit;
    padding: 10px;
}

/* SECTION GALERIA - CARD */

.fondoColorGallery {
    background-color: var(--base-color);
    color: var(--font-color);
}

.gallery__txt {
    padding: 50px;
    text-align: center;
}

.container__card {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;
    gap: 100px;
}

/* CARDS */

.myCard {
    background-color: var(--color-dark-background-card);
}

.card-text {
    color: var(--font-color);
}

.btn-card {
    background-color: var(--base-variant);
    border: none;
}

.img__giftCard img{
    border-radius: 20px;
}

.container__giftCard {
    margin: 50px;
}

.container__txt-giftCard {
    text-align: start;
    padding: 50px;
}

/* SECTION CONTACT-FORM */

.container__contact {
    width: 90%;
    padding-bottom: 50px;
    color: var(--font-color);
}

/* FOOTER */

footer {
    background-color: var(--base-color);
}

.footer1, .footer2 {
    padding: 20px;
    color: var(--font-color);
}

.container__nav-footer {
    display: flex;
    gap: 20px;
}

.container__inputEmail-footer {
    display: flex;
}

.container__nav-footer a {
    color: var(--font-color);
}

.input__mail-footer {
    border: 1px solid #808080;
    border-radius: 5px 0px 0px 5px;
    width: 170px;
    background-color: transparent;
}

.btn-mail-footer {
    border-radius: 0px 40px 40px 0px;
    background-color: var(--font-color);
    color: var(--color-back);
}

.text__validacion {
    color: gray;
    font-size: .9em;
    padding-top: 10px;
}

.footer2 {
    text-align: start;
    margin-top: 40px;
    align-items: center;
}

.footer2 i {
    font-size: 2em;
    
}

.footer2__grupo2 {
    padding-top: 50px;
}

/* BUTTON DARK MODE */

.darkmode {
    --base-color: #242424;
    --font-color: #ffffff;
    --color-back: rgb(0, 0, 0);
    --color-dark-background-card : #333030;
    --base-variant: #000000;
}

.cta-button {
    background-color: var(--color-dark-background-card);
}

#theme-dark {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    right: 10px;
    z-index: 200;
    opacity: .8;
}

#theme-dark:active {
    opacity: 1;
}

#theme-dark img {
    width: 20px;
}

#theme-dark img:last-child {
    display: none;
}

.darkmode #theme-dark img:first-child {
    display: none;
}

.darkmode #theme-dark img:last-child {
    display: block;
}


@media (min-width:768px) {

    .btn__headerResponsive, .container__navbar__responsive {
        display: none;
    }

    .container__navbar-desktop {
        display: flex;
    }

    .background__hero {
        transition: background-size .6s ease, height .6s ease;
        text-align: start;
    }

    .hero {
        font-size: 1.2em;
    }

    .btn__hero {
        width: 60%;
        font-size: .65em;
    }

    .container__contact {
        width: 70%;
    }

    .footer2__grupo2 {
        padding-top: 0px;
    }

    #theme-dark {
        top: 15px;
        right: 20px;
    }
}


@media (min-width:980px) {
    .btn__hero {
        width: 40%;
    }

    .container__contact {
        max-width: 50%;
    }
    
    .footer2 {
        text-align: start;
    }

    #theme-dark {
        right: 40px;
    }
}